@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Happy Monkey", system-ui;
  /* font-family: "Edu SA Hand", cursive; */
  letter-spacing: 1px;
  background-color: hsl(319, 85%, 90%);
  color: whitesmoke;
  background-color: hsl(319, 85%, 90%);
  background-image: repeating-linear-gradient(
      rgba(255, 44, 139, 0.5) 0px,
      rgba(255, 255, 255, 0.5) 1px,
      transparent 4px,
      transparent 2px
    ),
    repeating-linear-gradient(
      90deg,
      #f3729f80 0px,
      rgba(255, 255, 255, 0.5) 1px,
      transparent 2px,
      transparent 4px
    );
}

.btn {
  border: 1.5px solid #fdf2f8;
  background-color: #ec4899;
  color: #fdf2f8;
  border-radius: 9999px;
  padding: 0.6rem 1.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  transform: translate(0px, -4px);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}
