@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Gabarito", sans-serif;
  color: whitesmoke;
  background-color: hsl(319, 85%, 90%);
  background-image: repeating-linear-gradient(
      rgba(238, 192, 213, 0.118) 0px,
      rgba(255, 255, 255, 0.474) 1px,
      transparent 4px,
      transparent 2px
    ),
    repeating-linear-gradient(
      90deg,
      #f3729f22 0px,
      rgba(255, 255, 255, 0.249) 1px,
      transparent 2px,
      transparent 4px
    );
}

.btn {
  background: #fff;
  color: #f483bd;
  border: 2px solid #f483bd;
  padding: 0.6rem 1.6rem;
  border-radius: 1rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  transition: 0.2s ease;
}

.btn:hover {
  transform: translate(0px, -4px);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}
